# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/
.eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/

# VSCode / IDE / editor-specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# dotenv
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pyre type checker
.pyre/

# Pytype
.pytype/

# MyPy
.mypy_cache/

# Language servers
.pyright/

# Poetry
poetry.lock

# uv
.uv/

# Pylint
pylint-report.txt
pylint-global.txt
